@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

body {
  background: #fdfdfe;
}
.justify-content-between { justify-content: space-between; }

.survey {
  display: flex;
  flex-direction: column;
  height: 100%;

  .card-footer { margin-top: auto; }
}
