extends ../layout

block content
  section(class="section")
    div(class="container")
      div(class="columns is-centered")
        div(class="column is-two-fifths")
          div(class="card")
            div(class="card-header")
              div(class="card-header-title") Login

            form(action="/login", method="post")
              div(class="card-content")
                if error
                  div(class="notification is-danger")= error
                div(class="field")
                  label(for="email", class="label") Email
                  div(class="control")
                    input(type="text", id="email", name="email", class="input" autofocus="true")
                div(class="field")
                  label(for="password", class="label") Password
                  div(class="control")
                    input(type="password", id="password", name="password", class="input")

              div(class="card-footer")
                div(class="card-footer-item justify-content-between")
                  a(href="/register") Create account
                  button(type="submit", class="button is-primary") Login
