extend ../layout

block content
  section(class="section")
    div(class="container")
      div(class="columns is-centered")
        div(class="column is-half")
          div(class="card")
            div(class="card-header")
              div(class="card-header-title") New Survey

            form(action="/surveys", method="post")
              div(class="card-content")
                div(class="field")
                  label(for="name", class="label") Name
                  div: input(id="name" type="text", name="name", class="input")
                div(class="field")
                  label(for="description", class="label") Description
                  div: textarea(id="description", name="description", class="textarea")
                div
                  label(class="label") Options
                  div(class="field"): input(type="text", name="options[0][text]", class="input")
                  div(class="field"): input(type="text", name="options[1][text]", class="input")

              div(class="card-footer")
                div(class="card-footer-item justify-content-between")
                  a(href="/") Cancel
                  button(type="submit", class="button is-primary") Create Survey
