extends ../layout

block content
  section(class="section")
    div(class="container")
      div(class="columns is-centered")
        div(class="column is-two-thirds")
          div
            a(href="/") &larr; Back

          div(class="box" style="margin-top: 40px; padding: 2rem;")
            h1(class="title is-size-3 has-text-weight-light")= survey.name
            p(class="subtitle is-6 has-text-grey-light") Creado por user2@example.com
            p= survey.description

          div(class="box has-background-white" style="margin-top: 20px; padding: 2.5rem 2rem;")
            p(style="margin-bottom: 30px;") Selecciona una opción:
            div(class="options" style="padding-left: 20px;")
              each option in survey.options
                div(style="margin-bottom: 25px;")
                  label(class="radio is-size-6")
                    input(type="radio" name="answer")
                    span(style="margin-left: 10px;")= "  " + option.text

          div(class="has-text-right" style="margin-top: 30px;")
            button(type="submit", class="button is-primary is-medium") Votar!
